<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Coopana</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	</head>

	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <a class="navbar-brand" href="/"><img id="icon-coopana" src="../static/img/coopana.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/cooperados">Cooperado</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/projeto">Projeto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/licitacao">Licitação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/veiculos">Veiculos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/funcionario">Funcionários</a>
                </li>
              </ul>
            </div>
        </nav>

        <div class="container pt-4">
          {% block body %}
          {% endblock %}
        </div>

        <script>
          const btnDelete= document.querySelectorAll('.btn-delete');
          if(btnDelete) {
            const btnArray = Array.from(btnDelete);
            btnArray.forEach((btn) => {
              btn.addEventListener('click', (e) => {
                if(!confirm('Tem certeza de que deseja deletar ?')){
                  e.preventDefault();
                }
              });
            })
          }
            
          $(document).ready(function() {
            $('#example').DataTable({     
              "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
                "iDisplayLength": 5
               } 
            );
          } );
            
        </script>
	</body>
</html>