{% extends "base.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{licitacao.id}}" method="POST">
          <div class="form-group">
            <input type="text" name="projeto" value="{{licitacao.projeto}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="licitacao_destino" value="{{licitacao.licitacao_destino}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Atualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}